<footer class="py-4">
    <div class="container">
        <div class="col mb-3">
            <a href="https://www.facebook.com/share/172gEbSGVy/?mibextid=wwXIfr" target="_blank">
                <img src="/images/facebook-logo-icon-facebook-logo-png-transparent-svg-vector-bie-supply-16.png" alt="Facebook" height="40" width="40">            
            </a>    
        </div>
    </div>
  <div class="container text-center">
    <p class="mb-0">© Agencia Consultora Centinela</p>
  </div>
</footer>