<header class="py-2">
  <div class="container">
    <div class="row">
      <div class="col-auto">
        <a href="/">
          <img src="../images/logo.png" alt="logo" width="40" height="60">
        </a>
      </div>
      <div class="col d-flex flex-nowrap justify-content-end align-items-center">
        <a href="../catalogo/" class="btn btn-danger rounded-pill mx-1 btn-sm">Catálogo</a>
        <a href="../nosotros/" class="btn btn-primary rounded-pill mx-1 btn-sm">Nosotros</a>
        <a href="../contacto/" class="btn btn-warning rounded-pill mx-1 btn-sm">Contacto</a>
        <a href="https://wa.me/523351181513" target="_blank">
          <img src="/images/WhatsApp.png" alt="Contacto WhatsApp" width="30" height="30">
        </a>
      </div>
    </div>
  </div>
</header>