<header class="py-2">
  <div class="container">
    <div class="row">
      <div class="col-auto">
        <img src="/images/logo.png" alt="logo" width="40" height="60">
      </div>
      <div class="col d-flex flex-nowrap justify-content-end align-items-center">
        <a href="/" class="btn btn-danger rounded-pill mx-1 btn-sm">Catálogo</a>
        <a href="/#about" class="btn btn-primary rounded-pill mx-1 btn-sm">Sobre nosotros</a>
        <a href="/#contact" class="btn btn-warning rounded-pill mx-1 btn-sm">Contáctanos</a>
        <a href="https://wa.me/523325097017" target="_blank">
          <img src="/images/WhatsApp.png" alt="Contacto WhatsApp" width="30" height="30">
        </a>
      </div>
    </div>
  </div>
</header>