header{
    background-color:white;

}

.botonheader {
    background-color: transparent;
}

.filabotonesinicio{
    border: 10cap;
}

.fondoinicio{
    background-image: url(images/BackgroundInicio.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 50vh;
}

#cap1 {
    background-image: url(images/pizarraseguridad.jpg);
}

.divider {
  border: 0;
  height: 2px;
  background: linear-gradient(to right, rgba(0,0,0,0), #616161, rgba(0,0,0,0));
  margin: 1rem 0;
}